.gallery {
    background-color: var(--color-black);
}

.gallery__body {
    color: #fff;
    padding-block: 30px;
    display: flex;
    flex-flow: column wrap;        
    gap: 4em;
    overflow: hidden;
}

@media (min-width: 992px) {
    .gallery__body {
        flex-flow: row nowrap;
    }
}


.gallery__header {
    max-width: 491px;
}

.gallery__header p {
    margin-block: 24px;
}

.gallery__boxes {
    display: -webkit-box;
    gap: 2em;
    overflow: hidden;
    transition: .3s;
    position: relative;
}

.gallery__box {
    width: 300px;
    height: 447px;
}

.gallery__box:hover {}

.gallery__box img {
    width: 100%;
    height: 100%;
}

.gallery__trans {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.gallery__trans > * {
    cursor: pointer;
    width: 1.5em;
    font-size: 27px;
}

.gallery__trans :hover {
    color: #eee;
}

